.card {
  height: 100%;
  padding: 16px;
}

.col {
  cursor: pointer;
  max-width: 25%;
  flex-basis: 25%;
  min-height: 60px;
}

@media screen and (max-width: 992px) {
  .col {
    max-width: 33.3%;
    flex-basis: 33.3%;
  }
}

@media screen and (max-width: 768px) {
  .col {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 576px) {
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}

.text-xl {
  font-size: 24px;
}
